<p id="notice"><%= notice %></p>

<p>
  <strong>Telefono:</strong>
  <%= @phone.telefono %>
</p>

<p>
  <strong>Type:</strong>
  <%= @phone.type_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @phone.user_id %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
