<!DOCTYPE html>
<html>
  <head>
    <title>Agenda</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Quattrocento" rel="stylesheet">
  </head>

  <body>
    <% usuario_en_curso = User.find_by_id(session[:user_id]) %>

    <% if usuario_en_curso %>
      Usuario en curso: <%= usuario_en_curso.nombre %> <%= usuario_en_curso.apellido %>

      <% if usuario_en_curso.admin %>
        (Administrador)
      <% end %>

      - <%= link_to 'Salir', logout_path, method: :delete %>

      <p>
      <b>Menu administradores: <b>
        <% if usuario_en_curso.admin %>
        - <%= link_to 'Usuarios',users_path %><br/>
        <% end %>
      </p>
    <% else %>
      <%= link_to 'Login', login_path %>
    <% end %>
    <hr>

    <%= yield %>
  </body>
</html>
